<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/logout" >Logout</a>
    <h1>Hello, {{user.name}} {{user.alias}}! {{user.id}}</h1>
    <p>Here is the list of friends  </p>
    <table border="1">
        <thead>
            <tr>
                <td>Alias</td>                  
                <td>Action</td>
            </tr>
        </thead>
        {% for user in friends %}
        <tr>
            <td>{{user.alias}} {{user.id}} /user/{{user.id}} /remove/{{user.id}}  </td>
            <td><a href='/user/{{user.id}}'/>View Profile</a>
                <a href='/remove/{{user.id}}'/>Remove as a friend</td>
        </tr>
        {% endfor %}
    </table>
   
    <p>Here is the list of others users whom you are not friends with yet </p>
    <table border="1">
        <thead>
            <tr>
                <td>Alias</td>                  
                <td>Action</td>
            </tr>
        </thead>
        {% for user in notFriends %}
        <tr>
            <td><a href="/user/{{user.id}}">{{user.alias}}</a></td>
            <td><button><a href='/add/{{user.id}}'/>Add as a friend</button></a></button></button>
                </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
